* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.savedContainer {
  min-width: 89%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  bottom: 30px;
  right: 0px;
  top: 0px;
  height: 100%;
}

.savedVideosListContainer {
  width: 100%;
  margin-top: 3%;
  z-index: 0;
  position: relative;
  left: 0px;
  padding-top: 30px;
}

.each_SavedVideoCard {
  min-width: 100%;
  background-color: transparent;
  border-radius: 7px;
  display: flex;
  max-height: 300px;
  border-radius: 5px;
  margin-top: 30px;
  gap: 20px;
}

.thumbnailImage {
  width: 100%;
  max-width: 500px;
}

.SavedVideo_details {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  line-height: 1.5rem;
  background-color: transparent;
}

.SavedVideo_details img {
  width: 50px;
  height: 50px;
  margin: 0px 20px 10px 5px;
}
.SavedVideo_details h2 {
  font-family: 'Roboto';
  font-size: 20px;
}
.SavedVideo_details p {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0px;
}
.view_time {
  display: flex;
  align-items: center;
}
.view_time span {
  margin: 10px 10px 10px 0px;
  font-size: 15px;
  font-weight: 500;
}

.darkColorCard {
  background-color: #181818;
  color: #ffffff;
}
.lightColorCard {
  color: #00306e;
  background-color: transparent;
}

.textDarkColor {
  color: #ffffff;
}
.textLightColor {
  color: #00306e;
}
.savedVideosTitle {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 100%;
}
.SavedIconContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 10%;
  z-index: 1;
  left: 200px;
}
.SavedIconContainer p {
  font-size: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.icon {
  font-size: 75px;
}

.noVideosContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.noVideosContainer img {
  width: 100%;
  max-width: 500px;
}
.noVideosContainer h1 {
  font-size: 25px;
  margin: 20px 0px;
  font-weight: bold;
}
.noVideosContainer p {
  font-family: 'Roboto';
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .savedContainer {
    min-width: 100%;
    left: 0%;
    padding: 0px 30px;
    position: static;
  }
  .savedVideosListContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.53rem;
    margin-top: 10%;
    width: 100%;
    padding-bottom: 25%;
  }
  .each_SavedVideoCard {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 7px 5px rgba(105, 101, 101, 0.212);
    justify-content: center;
    align-items: center;
    max-height: 100%;
    margin-top: 20%;
  }
  .thumbnailImage {
    width: 100%;
  }
  .SavedVideo_details {
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
  }
  .SavedVideo_details img {
    width: 50px;
    height: 50px;
    margin: 0px 20px 10px 5px;
  }

  .SavedIconContainer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    left: 0%;
  }
  .SavedIconContainer p {
    font-size: 25px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .icon {
    font-size: 30px;
    margin-right: 10px;
  }
  .savedVideosContainer {
    margin-top: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .noVideosContainer {
    width: 100%;
    height: 100vh;
  }
}
